@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
.body{
    margin-top: 400px;
    background-image:url(degrade.png);
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 60px;
color: aliceblue;
justify-content: space-around;
}
.cabeça {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabeça-a{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    margin: 10px;
}
.cabeça-menu{
    display: flex;
    gap: 32px;
}